@page
@model WebApp.Pages.Participators.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participator</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participator.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participator.Person.PersonFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participator.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participator.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Participator.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participator.PaymentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Participator?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
