@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container" style="height: calc(100vh - 389px)">
    <div class="row mb-4" style="height: calc(50% - 16px)">
        <div class="col bg-primary" style="height: 100%; padding-left: 0px; padding-right: 0px; display: flex; align-items: center; justify-content: center;">
            <!-- Content for the first square -->
            <h3 class="px-5 text-white fw-normal">
                Sed nec elit vestibulum, tincidunt orci et, sagittis
                ex. Vestibulum rutrum neque suscipit ante mattis maximus. Nulla non sapien viverra,
                lobortis lorem non, accumsan metus.
            </h3>
        </div>
        <div class="col bg-secondary" style="height: 100%; padding-left: 0px; padding-right: 30px">
            <!-- Content for the second square -->
            <img class="" style="height: 100%; width: calc(100% + 30px); overflow: hidden;" alt="My image" src="images/pilt.jpg"/>

        </div>
    </div>
    <div class="row" style="height: calc(50% - 16px)">
        <div class="col bg-white me-3 d-flex flex-column justify-content-between">
            <!-- Content for the third square -->
            <div class="row">
                <h3 class="bg-primary text-white p-3 text-center fw-light">Tulevased üritused</h3>
                <div class="mt-2 px-3">
                    @for (var i = 0; i < Math.Min(4, Model.FutureEvents.Count); i++)
                    {
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                @(i + 1).
                                <a href="/EventInfos/Details?id=@Model.FutureEvents[i].Id" class="text-truncate text-black-50 text-decoration-none"> @Model.FutureEvents[i].EventName</a>

                            </div>
                            <div class="col-sm-3 text-truncate">
                                @Model.FutureEvents[i].EventLocation
                            </div>
                            <div class="col-sm-2 ">
                                @Model.FutureEvents[i].EventDateTime.Value.ToShortDateString()
                            </div>
                            <div class="col-sm-4 text-end">
                                <a href="/EventInfos/AddParticipator?id=@Model.FutureEvents[i].Id" class="me-2 text-black-50 text-decoration-none">LISA OSAVÕTJA</a>
                                <a href="/EventInfos/Delete?id=@Model.FutureEvents[i].Id" class="text-black-50 text-decoration-none">
                                    <img width="24" alt="icon img" src="images/remove.svg"/>
                                </a>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="d-flex justify-content-between pb-3 px-1">
                <a href="/EventInfos/Create" class="fw-bold text-black-50 text-decoration-none">LISA ÜRITUS</a>
                <a href="/EventInfos/Index" class="fw-bold text-black-50 text-decoration-none">VAATA KÕIKI ÜRITUSI</a>

            </div>
        </div>

        <div class="col bg-white ms-3 ">
            <!-- Content for the third square -->
            <div class="row">
                <h3 class="bg-primary fw-light text-white p-3 text-center">Toimunud üritused</h3>

                <div class="mt-2 px-4">
                    @for (var i = 0; i < Math.Min(6, Model.PastEvents.Count); i++)
                    {
                        <div class="row participator mb-2">

                            <div class="col-sm-4 text-truncate">
                                @(i + 1).
                                <a href="/EventInfos/Details?id=@Model.PastEvents[i].Id" class="text-truncate text-black-50 text-decoration-none"> @Model.PastEvents[i].EventName</a>
                                
                            </div>
                            <div class="col-sm-3 text-truncate">
                                @Model.PastEvents[i].EventLocation
                            </div>
                            <div class="col-sm-2">
                                @Model.PastEvents[i].EventDateTime.Value.ToShortDateString()
                            </div>
                            <div class="col-sm-3 text-end">
                                <a href="/EventInfos/Details?id=@Model.PastEvents[i].Id" class="me-2 text-black-50 text-decoration-none">OSAVÕTJAD</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

</div>